
/**********BOOTSTRAP OVERWRITES**************/
p{
    margin:0;
}
/********************************************/


/*************NAVBAR FORMATTING***************/
.navbar{
    background-color: #4AAE4C;
    border:none;
    border-bottom: 1px solid #0B811E;
    border-radius: 0;
    -webkit-box-shadow: -1px 3px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 17px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 17px 1px rgba(0,0,0,0.75);
}
.navbar a{
    font-size: 180%;
    font-family: Abel,sans-serif;
}
.nav-title img {
    max-width:43px;
    margin-left: 10px;
    margin-top: 4px;
}

.nav-title p {
    float: right;
    margin-right: 2em;
    margin-top: 5px;
    margin-left: 10px;
    padding: 0;
    font-size: 120%;
}

.nav-title{
    color: #053B06;
}
.nav-title:hover{
    color: #37771d;
}

/*****************************************/


/***********GENERAL FORMATTING*************/

body{
    background-color: #4AAE4C;
}

#body{
    padding-bottom: 230px;
}
html{
    min-height:100%;
    position:relative;
}

/*****************************************/


/***********FOOTER FORMATTING*************/

#footer{
    -webkit-box-shadow: -1px 3px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 17px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 17px 1px rgba(0,0,0,0.75);
    width: 100%;
    padding-top: 20px;
    background-color: #4AAE4C;
    border-top: 1px solid #0B811E;
    font-family:  Ubuntu,sans-serif;;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    max-height: 400px;

}

#footer iframe {
    width: 100%;
    height: 150px;
    border:2px solid #37771d;
    border-radius: 3px;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;

}

#footer a{
    color:#264D16;
}
#footer a:hover{
    color:#37771D;
}

#footer .list-head{
    list-style: none;
}

#footer .list-head h4{
    font-weight: bold;
}
.footer-links-1 ul{
    list-style: circle ;
}

.footer-links-2 {
    display: none;
}
.footer-links-2 ul{
    list-style: circle ;
    padding-left: 8px;
}
/*****************************************/

/*********SCREEN SIZE OVERRIDING**********/
@media screen and (max-width: 991px) {
    .footer-links-1 {
        display: none;
    }
    .footer-links-2 {
        display: block;
    }
    #body{
        padding-bottom: 400px;
    }
}

/****************************************/

/************SEARCH   *******************/
.searchWrapper .searchLine{
    align-content: center;
}
#ingredientList{
    list-style: none;
    text-decoration: none;
}

/****************************************/
