
/**********BOOTSTRAP OVERWRITES**************/
p{
    margin:0;
}
/********************************************/


/*************NAVBAR FORMATTING***************/
.navbar{
    background-color: #4AAE4C;
    border:none;
    border-bottom: 1px solid #0B811E;
    border-radius: 0;
    -webkit-box-shadow: -1px 3px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 17px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 17px 1px rgba(0,0,0,0.75);
}
.navbar a{
    font-size: 180%;
    font-family: Abel,sans-serif;
}
.nav-title img {
    max-width:43px;
    margin-left: 10px;
    margin-top: 4px;
}

.nav-title p {
    float: right;
    margin-right: 2em;
    margin-top: 5px;
    margin-left: 10px;
    padding: 0;
    font-size: 120%;
}

.nav-title{
    color: #053B06;
}
.nav-title:hover{
    color: #37771d;
}

/*****************************************/


/***********GENERAL FORMATTING*************/

body{
    background-color: #E9EAED;
}

#body{
    padding-bottom: 250px;
}
html{
    min-height:100%;
    position:relative;
}

/*****************************************/


/***********FOOTER FORMATTING*************/

#footer{
    -webkit-box-shadow: -1px 3px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 17px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 17px 1px rgba(0,0,0,0.75);
    width: 100%;
    padding-top: 20px;
    background-color: #4AAE4C;
    border-top: 1px solid #0B811E;
    font-family:  Ubuntu,sans-serif;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    max-height: 400px;

}

#footer iframe {
    width: 100%;
    height: 150px;
    border:2px solid #37771d;
    border-radius: 3px;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;

}

#footer a{
    color:#264D16;
}
#footer a:hover{
    color:#37771D;
}

#footer .list-head{
    list-style: none;
}

#footer .list-head h4{
    font-weight: bold;
}
.footer-links-1 ul{
    list-style: circle ;
}

.footer-links-2 {
    display: none;
}
.footer-links-2 ul{
    list-style: circle ;
    padding-left: 8px;
}
/*****************************************/

/*********SCREEN SIZE OVERRIDING**********/
@media screen and (max-width: 991px) {
    .footer-links-1 {
        display: none;
    }
    .footer-links-2 {
        display: block;
    }
    #body{
        padding-bottom: 420px;
    }
}

/****************************************/

/************SEARCH   *******************/

.searchWrapper{
    width:300px;
    margin: 0 auto;
}
.searchTitle{
    font-family: Abel,sans-serif;
    padding: 0 auto;
    font-weight: bold;
    font-size: 40px;
}
.searchWrapper button{
    margin-left: 15px;
    background-color: transparent;
    border: none;
}
/*
.searchWrapper button:hover{
    background-color: lightgreen;
}
*/

.searchWrapper ul{
    list-style: none;
}
.searchItem{
    width: 240px;
    height:40px;
}
#searchButton{
    background-color:#62c462;
    vertical-align: middle;

}
#searchButton:hover{
    background-color:#51a351 ;
}

.removeBtn{
    height:35px;
    width: 35px;
    background: url("http://localhost:63342/ChowSenseWebApp/images/ic_menu_remove.png")no-repeat;
    vertical-align: -50%;
}
.removeBtn:hover{
    background: url("http://localhost:63342/ChowSenseWebApp/images/ic_menu_remove_r.png")no-repeat;
    border: none;
}

.addBtn{
    height:35px;
    width: 35px;
    background: url("http://localhost:63342/ChowSenseWebApp/images/ic_menu_add.png")no-repeat;
    vertical-align: -55%;
    margin-bottom: 5px;
}

.addBtn:hover{
    background: url("http://localhost:63342/ChowSenseWebApp/images/ic_menu_add_green.png")no-repeat;
    border: none;
}

.addBtn:active, .addBtn:focus, .removeBtn:active, .removeBtn:focus{
    border: none;
    outline: none;
}

.searchWrapper input[type="text"]{
    font-family:  Ubuntu,sans-serif;
    font-size: larger;
    width: 180px;
}
/****************************************/

/**************RECIPE LIST***************/
.list-container{
    padding:0 10%;
}

.recipe-list-item{
    border:1px solid darkgray;
    border-radius: 5px;
    padding:10%;
    margin:5%;
    text-align: center;
    font-family:  Ubuntu,sans-serif;
    background-color: #FFFFFF;
    height: 448px;

    -webkit-box-shadow: 6px 8px 19px 0px rgba(166,166,166,1);
    -moz-box-shadow: 6px 8px 19px 0px rgba(166,166,166,1);
    box-shadow: 6px 8px 19px 0px rgba(166,166,166,1);
}
.recipe-list-item h3{
    font-family: Abel,sans-serif;
    font-weight: bold;
}

.recipe-list-item a{
    font-family: Abel,sans-serif;
    margin-top: 20px;
    font-size: 20px;
}


/****************************************/

/**************error**************/

.sleeping-cooks{
    border:1px solid darkgray;
    border-radius: 5px;
    padding:5%;
    margin:5%;
    text-align: center;
    font-family:  Ubuntu,sans-serif;
    background-color: #FFFFFF;
    height: 448px;

    -webkit-box-shadow: 6px 8px 19px 0px rgba(166,166,166,1);
    -moz-box-shadow: 6px 8px 19px 0px rgba(166,166,166,1);
    box-shadow: 6px 8px 19px 0px rgba(166,166,166,1);
}
.sleeping-cooks h3{
    font-family: Abel,sans-serif;
    font-weight: bold;
}

.sleeping-cooks a{
    font-family: Abel,sans-serif;
    margin-top: 20px;
    font-size: 20px;
}
.sleeping-cooks img{
    vertical-align: middle;
}